HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!product-server/src/main/**
!product-server/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
### Example user template template
### Example user template

# IntelliJ project files

out
gen
/mvnw
/mvnw.cmd
/.mvn/
/product-common/mvnw
/product-common/mvnw.cmd
/product-client/.mvn/
/product-client/mvnw
/product-client/mvnw.cmd
/product-server/mvnw
/product-server/mvnw.cmd
/product-server/.mvn/
/product-common/.mvn/
